
<div class="object">
  <div class="object-top">
    <div class="object-info">
      <img class="lamp" src="assets/lamp_orange.svg" alt="lamp" />
      <div>
        <h3>Lamp</h3>
        <p>65% Brightness</p>
      </div>
    </div>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>

<div class="object">
  <div class="object-top">
    <div class="object-info">
      <img class="lamp" src="assets/fridge_orange.svg" alt="lamp" />
      <div>
        <h3>Fridge</h3>
        <p>5<sup>o</sup>C temperature</p>
      </div>
    </div>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <mat-slider min="1" max="15" step="1" value="1"></mat-slider>
</div>

<div class="object">
  <div class="object-top">
    <div class="object-info">
      <img class="lamp" src="assets/air_orange.svg" alt="lamp" />
      <div>
        <h3>Air conditioner</h3>
        <p>20<sup>o</sup>C temperature</p>
      </div>
    </div>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <mat-slider min="1" max="50" step="1" value="1"></mat-slider>
</div>
