<header>
  <img class="arrow" src="assets/simple_arrow.svg" alt="go-back" />
  <div class="room-name-container">
    <h2>Kitchen</h2>
    <img class="cog" src="assets/cog_white.svg" alt="options" />
  </div>
  <div class="parameters-container">
    <div class="temp-container">
      <img class="temp" src="assets/temperature_white.svg" alt="temperature" />
      <div>
        <p>24<sup>o</sup>C</p>
        <p class="upp">temp</p>
      </div>
    </div>
    <div class="humidity-container">
      <img class="humidity" src="assets/drops_white.svg" alt="humidity" />
      <div>
        <p>50%</p>
        <p class="upp">humidity</p>
      </div>
    </div>
  </div>

</header>

