
.room-container {
  background-color: white;
  width: 35vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 12px;
  margin: 10px;
}

h2 {
  color: #404040;
  padding-bottom: 10px;
}

p {
  color: #F1823E;
}

mat-slide-toggle {
  padding: 25px 0;
}

