<div class="room-container" routerLink="/room">
  <div>
    <h2>Bedroom</h2>
    <p>2 Devices</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>

<div class="room-container" routerLink="/room">
  <div>
    <h2>Kitchen</h2>
    <p>3 Devices</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>

<div class="room-container" routerLink="/room">
  <div>
    <h2>Balcony</h2>
    <p>1 Device</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>

<div class="room-container" routerLink="/room">
  <div>
    <h2>Bathroom</h2>
    <p>2 Devices</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>

<div class="room-container" routerLink="/room">
  <div>
    <h2>Kids room</h2>
    <p>3 Devices</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>

<div class="room-container" routerLink="/room">
  <div>
    <h2>Living room</h2>
    <p>2 Devices</p>
  </div>
  <mat-slide-toggle></mat-slide-toggle>
</div>
