@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Lato;
  height: 100vh;
}

app-room-cover {
  padding: 15px;
}

app-main, app-room-content {
  height: 100vh;
}
